.todo {
    width: calc(100% / 3);
    border: 1px solid #e07070;
    color: #222;
    padding: 1rem 2rem;
    border-radius: 1rem;
    background-color: #fcfbfb;
    transition: all .3s;
}

.todo:hover {
    box-shadow: 32px 20px 66px -39px rgba(0,0,0,0.46);
}

.todo__title {
    color: #7645d9;
    font-weight: 500;
}

.todo__delete-btn {
    background-color: #7645d9;
    border-radius: 1rem;
    padding: .5rem .75rem;
    border: none;
    color: #f7eeee;
    cursor: pointer;
}

.todo__delete-btn:hover {
    background-color: #4f308d;
}